version: '3.9'

services:
  db:
    image: postgres:14.2-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - base_postgres_data:/var/lib/postgresql/data
    networks:
      - base-nw
  web:
    build: .
    command: bash -c "make dev-setup && make server"
    volumes:
      - ./:/app
      - ./certs:/etc/ssl/certs
    ports:
      - "8000:8000"
      - "80:80"
      - "443:443"
    env_file:
      - ./base/settings/.env
    networks:
      - base-nw
    depends_on:
      - db
      - redis
  redis:
    image: redis:6.2-alpine
    networks:
      - base-nw
    ports:
      - "6371:6379"

volumes:
  base_postgres_data:
    driver: local

networks:
  base-nw:
    driver: bridge